{% extends CMS_TEMPLATE %}
{% load django_bootstrap5 sekizai_tags breadcrumbs %}

{% block breadcrumb %}
    {% block breadcrumbs %}
    
    {% root_breadcrumb_url 'Mes fiches' 'larp:character_list' %}
    {% endblock %}
{% endblock %}

{% block title %}Mes fiches perso{% endblock %}

{% block cms_content %}
    <h1>Mes fiches</h1>
    </br>


        {% for larp_name, inscription in larp_inscriptions.items %}

        <h3>{{ larp_name }}</h3>
        {% if inscription.sheet_creation_opened is False %}
        <p>
            Oups, la création de personnage n'est pas encore disponible. <br>
            Patientez quelques jours, vous serez tenue au courant sur nos réseaux quand ce sera ouvert.
        </p>
        {% else %}
        <table class="w-100 table">
            <thead>
                <tr>
                        <th>Type</th>
                        <th></th>
                        <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% if inscription.pnj_infos %}
                    <tr class="">
                        <td>Fiche PNJ</td>
                        <td><a href="{% url 'larp:view_pnj' inscription.pnj_infos.pk %}">Voir/Modifier mes informations</a></td>
                        <td>{{ inscription.pnj_infos.short_status }}</td>
                    </tr>
                {% endif %}
                {% for character in inscription.pj_infos %}
                    <tr class="">
                        <td>Fiche Personnage</td>
                        <td><a href="{% url 'larp:view_pj' character.pk %}">{{ character.name }} ({{ character.faction }})</a></td>
                        <td>{{ character.short_status }}</td>
                    </tr>
                {% endfor %}
                {% if inscription.can_add_character %}
                    <tr class="">
                        <td><a href="{% url 'larp:create_pj' inscription.inscription_id %}"><button class="btn btn-primary"><i class="fa-solid fa-plus"></i> Céer un personnage</button></a></td>
                        <td></td>
                        <td></td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
        {% endif %}

    {% empty %}
        <h4>Vous n'êtes inscrit à aucun GN actuellement</h4>
    {% endfor %}

{% endblock %}