{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block cms_content %}

<div class="p-2">
    <h1>Création de compte</h1>
    <h4>Attente de validation de votre e-mail</h4>
</div>
<div class="">
    <!-- Titre du processus -->

    <!-- Titre du formulaire -->
    <div class="p-2">
        
        <p>Un mail vous a été envoyé à l'adresse mail fournie lors de votre inscription. Ce mail contient le lien d'activation de votre compte.</p>
        <p> En cas de non réception, vous devriez contacter les orgas qui vous enverront cette missive par leur coursier le plus zélé. Mais pensezà vérifier s'il n'aurait pas atterit dans vos spams avant ;)</p>
    </div>
</div>
{% endblock %}