{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block cms_content %}

<h1>Création de compte</h1>

{% if errors %}
    {% for field, error in errors %}
    <p><strong>{{ field }}: {{ error }}</strong></p>
    {% endfor %}
{% endif %}
<div class="rounded text-dark p-2 my-3" style="background-color: var(--bs-warning-bg-subtle);">
    Vos informations personnelles (nom, prénom, informations de sécurités, etc...) seront utilisées uniquement à des fins de sécurité.
</div>


<form action="{{validation_url}}" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <p class="mt-2">
        <button type="submit" class="btn btn-primary" style="width:120px">Valider &nbsp; ❯</button>
    </p>
</form>
{% endblock %}