{% load sekizai_tags cms_tags %}


{% addtoblock "css" %}
<style>
    .image-background {
        border: none;
        bottom: 0;
        box-shadow: none;
        
        left: 0;
        margin: 0;
        max-height: none;
        max-width: none;
        object-fit: cover;
        outline: none;
        padding: 0;
        right: 0;
        top: 0;
        height: 100%;
        width: 100%;
    }

    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%; 
        overflow-wrap: break-word; 
        word-break: break-word; 
        z-index: 1; 
        font-size: 2rem;
    }

    .alpha_background {
        bottom: 0;
        left: 0;
        opacity: .4;
        position: absolute;
        right: 0;
        top: 0;
        background-color: black;
    }

    .background_item {
        border-radius: 50px; 
        aspect-ratio: 16/9; 
        overflow: clip; 
        text-align: center; 
        position: relative;
        max-height: 150px;
        
        /*max-height: 250px;*/
        /*flex: 1 1 0px;*/
    }

    .link_background {
        flex-basis: 100%; 
        width: 100%; 
        background-color: #ffffff55;
    }

    .menu_background {
        display: flex;
        justify-content: space-between; 
        flex-wrap: wrap;
        gap: 16px;
        font-family: 'Literata';
    }
</style>
{% endaddtoblock %}



<div class="menu_background">
    {% for plugin in instance.child_plugin_instances %}
        {% render_plugin plugin %}
    {% endfor %}
</div>

