{% extends 'base.html' %}
{% load static sekizai_tags %}

{% addtoblock 'css' %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
<script defer src="https://use.fontawesome.com/releases/v6.4.0/js/all.js"></script>
{% endaddtoblock %}

{% block cms_content %}
    <h3>Paiment annulé</h3>
    <a href="{{ request.session.url_achat }}"><button class="btn btn-info mt-2"><i class="fa-solid fa-arrow-left me-2"></i> Retourner aux achats</button></a>
{% endblock %}

<p>Your payment succeeded.</p>