{% extends CMS_TEMPLATE %}
{% load sekizai_tags django_bootstrap5 partials django_htmx %}

{% block page_head %}
    {% htmx_script %}
{% endblock %}

{% block title %}BG : Choix des pré-requis{% endblock %}

{% block body_attrs %}
hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'
{% endblock %}

{% block cms_content %}
        <h2 class="mb-5">{{bg_choice.short_name}}</h2>
        <h3>{{bg_choice.text}}</h3>

        <p>
            <b>Ce choix dépend de l'étape :</b>
            <ul style="list-style: none;">
                {% for bg_step in bg_steps %}
                <li>
                    <label>
                        <input type="radio" value="{{ bg_step.pk }}" name="step_id" 
                            hx-post=""
                            hx-target="#choice-list"
                            hx-swap="outerHTML"/>
                        {{ bg_step.short_name }}
                    </label>
                </li>
                {% endfor %}
            </ul>
        </p>
        <p>
            <b>Choix en pré-requis :</b>
            {% partialdef choice-list inline %}
            <form method="post">
                {% csrf_token %}
                <ul style="list-style: none;" id="choice-list">
                    {% for choice in choices %}
                    <li>
                        <label>
                            <input type="radio" value="{{ choice.pk }}" name="choice_id" {% if bg_choice.requisit and bg_choice.requisit.pk == choice.pk %}checked{% endif %}/>
                            {{ choice.short_name }}
                        </label>
                    </li>
                    {% endfor %}
                </ul>
                {% if choices %}
                    {% bootstrap_button button_type="submit" content="Valider" extra_classes="submit_btn" %}
                    {% if bg_choice.requisit %}
                    <button class="btn btn-danger" hx-delete="" hx-confirm="Êtes-vous sûr(e) de vouloir supprimer le pré-requis ?"><i class="fa-solid fa-square-xmark"></i> Effacer</button>
                    {% endif %}
                {% endif %}
            </form>
            {% endpartialdef %}
        </p>

        <script>
            var rad = document.getElementsByName("step_id")
            for (var i = 0; i < rad.length; i++) {
                rad[i].addEventListener('change', function() {
                    if (this.checked) {
                        console.log(this.value)
                    }
                });
            }
        </script>
{% endblock %}