{% extends CMS_TEMPLATE %}
{% load sekizai_tags django_bootstrap5 %}

{% block title %}BG : Gestion des choix{% endblock %}

{% block page_head %}
    {% addtoblock "css" %}
        <style>

        .table > :not(caption) > * > * {
                background-color: rgba(255,255,255,0.3);
                color: white;
            }

        .table > thead > * > * {
                background-color: rgba(255,255,255,0.5);
                color: rgb(0, 0, 0);
                font-size: 1.2rem;
                border: none;
            }

        
            

        </style>
    {% endaddtoblock %}
{% endblock %}

{% block cms_content %}
        <h2 class="mb-5">{{bg_step.short_name}}</h2>
        <h3 class="mb-5">{{bg_step.question}}</h3>
    
        
        <table class="w-100 table">
            <thead>
                <tr>
                    <td style="width: 20%;">Nom court</td>
                    <td style="width: 60%;">Description</td>
                    <td style="width: 20%;">Pré-requis</td>
                </tr>
            </thead>
            <tbody>
                {% for choice in bg_choices %}
                    <tr>
                        <td style="width: 20%;">{{choice.short_name}}</td>
                        <td style="width: 60%;">{{choice.text}}</td>
                        <td style="width: 20%;">
                            {% if choice.requisit %}
                            {{ choice.requisit }}<br>
                            {% endif %}
                            <a href="{% url 'larp:bg_choice_requisit' choice.pk %}"><input type="button" value="Gérer le pré-requis" class="w-100"/></a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3">Aucun choix disponible aux joueurs actuellement. Ajoutez-en !</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <p>
            <h3>Ajouter une option :</h3>
                <form action="{{ url_validation }}" method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <div style="text-align: center;">
                        {% bootstrap_button button_type="submit" content="Valider" extra_classes="submit_btn" %}
                    </div>
                </form>
        </p>

        <script>
            let empty_btn = document.getElementById('id_empty')
            let text_element = document.getElementById('id_text')
            empty_btn.addEventListener("click", function() {
                if(empty_btn.checked) {
                    text_element.disabled = true;
                    text_element.value = "Description libre du joueur"
                } else {
                    text_element.disabled = false;
                    text_element.value = ""
                }
            }); 
        </script>

{% endblock %}