{% extends CMS_TEMPLATE %}
{% load sekizai_tags django_bootstrap5 %}

{% block title %}BG : Gestion des étapes{% endblock %}

{% block page_head %}
    {% addtoblock "css" %}
        <style>

        .table > :not(caption) > * > * {
                background-color: rgba(255,255,255,0.3);
                color: white;
            }

        .table > thead > * > * {
                background-color: rgba(255,255,255,0.5);
                color: rgb(0, 0, 0);
                font-size: 1.2rem;
                border: none;
            }

        
            

        </style>
    {% endaddtoblock %}
{% endblock %}

{% block cms_content %}
        <h2 class="mb-5">Question de BG ({{faction}})</h2>
    
        
        <table class="w-100 table">
            <tbody>
                {% for step in current_steps %}
                    <tr class="">
                        <td>
                            {% if not forloop.first %}
                            <a href="{% url 'larp:bg_step_change_nb' faction.pk %}?action=up&step_id={{ step.pk }}"><i class="fa-solid fa-arrow-up"></i></a>
                            {% endif %}
                            {% if not forloop.last %}
                            <a href="{% url 'larp:bg_step_change_nb' faction.pk %}?action=down&step_id={{ step.pk }}"><i class="fa-solid fa-arrow-down"></i></a>
                            {% endif %}
                        </td>
                        <td>{{step.step}}</td>
                        <td>{{step.short_name}}</td>
                        <td><a href="{% url 'larp:bg_choices' step.pk %}">{{step.question}}</a></td>
                    </tr>

                {% empty %}
                <tr>
                    <td>Ajoutez votre première étape de background, pour l'instant c'est vide</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <p>
            <h3>Ajouter une étape :</h3>
                <form action="{{ url_validation }}" method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <div style="text-align: center;">
                        {% bootstrap_button button_type="submit" content="Valider" extra_classes="submit_btn" %}
                    </div>
                </form>
        </p>

{% endblock %}