{% extends CMS_TEMPLATE %}
{% load sekizai_tags django_bootstrap5 partials django_htmx %}

{% block title %}BG : Gestion des étapes{% endblock %}

{% block body_attrs %}
hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'
{% endblock %}

{% block page_head %}
{% htmx_script %}
    {% addtoblock "css" %}
        <style>

        .fade-me-in {
            opacity: 100;
            transition: opacity 2s ease-in;
        }
        .fade-me-in-origin {
            opacity: 0;
        }
        
            

        </style>
    {% endaddtoblock %}
{% endblock %}

{% block cms_content %}
        <div class="card mb-3">
            <div class="card-header">
                <h2>Gestion des étapes de BG</h2>
            </div>
            <div class="card-body">
                <h4>GN : {{faction.larp}}</h4>
                <h4>{{ faction.larp.factions_name }} : {{ faction }}</h4>
            </div>
        </div>
    
        <a href="{% url 'larp:orga_gn' faction.larp.pk %}"><button class="btn btn-sand my-3"><i class="fa-regular fa-circle-left"></i> Retour au GN</button></a>

        <table class="w-100 table">
            <thead>
                <tr>
                    <td colspan="2">Étape</td>
                    <td>Nom d'étape</td>
                    <td>Question</td>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody>
                {% for step in current_steps %}
                    <tr class="">
                        <td>
                            {% if not forloop.first %}
                            <a href="{% url 'larp:bg_step_change_nb' faction.pk %}?action=up&step_id={{ step.pk }}"><i class="fa-solid fa-arrow-up"></i></a>
                            {% endif %}
                            {% if not forloop.last %}
                            <a href="{% url 'larp:bg_step_change_nb' faction.pk %}?action=down&step_id={{ step.pk }}"><i class="fa-solid fa-arrow-down"></i></a>
                            {% endif %}
                        </td>
                        <td>{{step.step}}</td>
                        <td>{{step.short_name}}</td>
                        <td><a href="{% url 'larp:bg_choices' step.pk %}">{{step.question}}</a></td>
                        <td style="width: 15%;">
                            <input type="hidden" name="action" value="edit-step"/>
                            <input type="hidden" name="step_id" value="{{ step.pk }}"/>
                            <button type="submit" class="btn btn-primary" value="" 
                                hx-include="previous [name='step_id'], previous [name='action']"
                                hx-target="#step-form" hx-post="" hx-swap="outerHTML"><i class="fa-solid fa-pen-to-square"></i></button>
                            <button class="btn btn-danger"  hx-delete="" hx-include="previous [name='step_id']"
                                        hx-confirm="Êtes-vous sûr(e) de vouloir supprimer cette étape ? Toutes les options associées (proposition au joueur) seront également supprimées !">
                                        <i class="fa-solid fa-square-xmark"></i>
                            </button>
                        </td>
                    </tr>

                {% empty %}
                <tr>
                    <td colspan="4">Ajoutez votre première étape de background, pour l'instant c'est vide</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% partialdef step-form inline %}
        <div id="step-form" class="fade-me-in{% if action != 'edit-step' %}-origin{% endif %}">
            {% if action == 'edit-step' %}
            <hr>
            <h3>Modifier une étape :</h3>
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <div style="text-align: center;">
                    {% bootstrap_button button_type="submit" content="Valider" extra_classes="submit_btn" %}
                </div>
            </form>
            <hr>
            {% endif %}
        </div>
        {% endpartialdef %}

        <div>
            <h3>Ajouter une étape :</h3>
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <div style="text-align: center;">
                    {% bootstrap_button button_type="submit" content="Valider" extra_classes="submit_btn" %}
                </div>
            </form>
        </div>

{% endblock %}