{% extends CMS_TEMPLATE %}
{% load sekizai_tags breadcrumbs %}

{% block title %}Orga : mes GN{% endblock %}

{% block breadcrumb %}
    {% block breadcrumbs %}
    {% root_breadcrumb_url 'Mes GNs (Orga)' 'larp:orga_gn_list' %}
    {% endblock %}
{% endblock %}

{% block cms_content %}

        <div class="card mb-3">
            <div class="card-header">
                <h2>Vue Orga</h2>
            </div>
            <div class="card-body">
                <h4>Mes GNs</h4>
            </div>
        </div>
    
        {% if larps.count == 0 %}
        <h4 class="mb-5">Il semble que vous ne soyez pas Orga actuellement</h4>
        {% else %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">
                        Nom du GN
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for larp in larps %}
                    <tr class="">
                    <td><a href="{% url 'larp:orga_gn' larp_id=larp.pk%}"><div class="w-100">{{larp}}</div></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}

{% endblock %}