{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block cms_content %}
<div class="container" style="max-width: 800px;">

    <div class="mb-5">
        <h2>Réinitialisation de mot de passe</h2>
    </div>
  
  
    <!-- formulaire -->
    <div class="">
        <p>Merci d'indiquer l'adresse mail avec laquelle vous vous êtes inscrit sur le site, nous y enverrons un e-mail qui vous permettra de réinitialiser votre mot de passe</p</p>
        
        <form action="{{validation_url}}" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
                <button type="submit" class="btn btn-primary mt-2">Valider</button>
        </form>
    </div>

</div>
{% endblock %}