{% load static %}

<footer class="">
    <div class="container">
        <div class="row">
            <div class="col">
                <figure class="m-0">
                    <img src="{% static 'img/logo-limbes.png' %}" style="width:200px;height:auto" sizes="auto, (max-width: 1024px) 100vw, 1024px" alt="">
                </figure>
                <p class="">Organisation de jeu de rôle grandeur nature et événements.</p>
                <p class="">06 73 92 24 11</p>
                <p class="">lesechosdeslimbes@gmail.com</p>
            </div>
            <div class="col">
                <div style="height: 110px;"></div>
                <p class="text-center"><strong><a href="{% static 'core/documents/mentions_legales.pdf' %}">Mentions légales</a></strong></p>
                <p class="text-center"><strong><a href="{% static 'core/documents/CGV.pdf' %}">CGV</a></strong></p>        
            </div>
            <div class="col">
                <div style="height: 110px;"></div>
                <h2 class="text-3xl">Rejoignez nous ! </h2>
                <div style="display: flex;">
                    <figure><img  src="{% static 'img/icons/Facebook-classe.webp' %}" alt="" style="width:1.8em"></figure>
                    <p class="ms-3"><a href="https://www.facebook.com/Lymbes/">Facebook</a></p>
                </div>
    
                <div style="display: flex;">
                    <figure><img  src="{% static 'img/icons/Insta-classe.webp' %}" alt="" style="width:1.8em"></figure>
                    <p class="ms-3"><a href="https://www.instagram.com/les_echos_des_limbes/">Instagram</a></p>
                </div>
            </div>
        </div>
        <div class="border-t border-gray-700 mt-8 pt-8 text-center text-gray-400">
            <p>&copy; 2024 Les Échos des Limbes. Tous droits réservés.</p>
        </div>
    </div>
</footer>